body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181C24;
  color: white;
  /* background-color: white;
  color: #181c24; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  background-color: #415A77;
  color: white;
  height: 10vh;
}

.nav-login {
  float: right;
  display: inline-block;
}

.nav-link {
  color: white;
}

.input-group {
  display: inline-block;
}



.row {
  height: 350px;
  /* padding-right: 150px;
  padding-left: 150px; */
}

.h-sm {
  height: 20px;
}

.edit-user-button {
  height: 30px;
  padding: 3px 10px;
}

/* .pagination {
  cursor: pointer;
  margin: 1em 0;
  margin-left: 25em;
} */
.all_actors_link:hover {
  text-decoration: none;
  color: white;
}

.create_new_list {
  color: black;
}

/* Columns */
.wrapper {
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.7fr;
  margin: 50px;
  padding: 10px;
}

.carousel {
  align-self: center;
  margin: 20px;
  height: 800px;
  /* padding: 20px */
}

.couchr-carousel {
  align-self: center;
  margin: 30px;
  height: 800px;
  padding-top: 60px;
}

.carousel_caption {
  position: fixed;
  left: auto;
  right: auto;
  top: 0;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.carousel-slide {
  height: 780px;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
}

.slide-photo:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px lightgray;
  transition: 0.5s;
}


.slide-photo {
  align-self: center;
  vertical-align: middle;
  height: 550px;
  left: auto;
  right: auto;
  transition: 0.5s;
  border-radius: 10px;
}

.main-page-header {
  align-self: center;
  color: white;
  font-size: 27pt;
}

/* sidebar */
.sidebar {
  height: 100vh;
  /* width: 150px; */
  position: fixed;
  left: 0;
  top: 0px;
  padding-top: 110px;
  /* padding-top: 40px; */
  background-color: #415A77;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  color: white;
  font-weight: 500;
  overflow: auto;
}

.sidebar_link {
  color: white;
  text-decoration: none;
  font-size: 13px;
  line-height: 33px;
}

.sidebar__logo {
  padding-bottom: 10px;
}


.sidebar_link:hover {
  text-decoration: underline;
  color: #780E0E;
}

/* search */
.search {
  margin: 0px !important;
  height: 40px
}

.input-group {
  font-size: 1em;
}

.search-btn {
  bottom: 3px;
  color: white;
  border: #780E0E 10px;
  background-color: #181C24;
}

.btn:hover {
  text-decoration: solid;
  color: white;
  background-color: #780E0E;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #415A77;
  --bs-btn-border-color: #415A77;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #780E0E;
  --bs-btn-hover-border-color: #780E0E;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #415A77;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: none;
  --bs-btn-active-scale: 1.0;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #415A77;
  --bs-btn-disabled-border-color: #415A77;
}



.list-btn-div {
  height: 300px
}

.btn-group {
  bottom: 500px;
  margin: 0;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.col {
  height: fit-content;
}

.no-results {
  padding-top: 100px;
  text-align: center;
}

.detail_icon_my-tip_list {
  display: inline-block;
  position: relative;
  line-height: 1;
  height: 10px;
}

.detail_icon_my-tip_list .detail_icon_tip_list {
  display: none;
  position: absolute;
  border-radius: 0;
  top: 350%;
  left: 50%;
  opacity: 0;
  transition: all .5s ease;
  transform: translate(-50%, -10px);
  padding: 0px;
}

.list-icons {
  padding-bottom: 50px;
}

/* #list-icon {
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 5px;
} */