.poster {
    height: 500px;
    width: 800px;
    align-self: center;
}

.Youtube {
text-align: center;
align-self: center; 
display: flex;
justify-content: center;
align-items: center;

}

.trailer {
align-self: center;
}

.play {
    justify-content: center;
    align-items: center;
    vertical-align: middle !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 125px;
}